body {
  background-color: #60d9f1;

}


.results{
  display:flex;

  
}
.results div{
  /*background-color:black;*/
      height: 20vw;
      width: 100%;
      margin:1px;

}
.cover{flex: 1 1 25%
 
}
 
