body {
  background-color: #60d9f1;
}
.container {
  text-align: center;
  background-color: black;
  color: silver;
  margin: 9vw 19vw;
}

.options {
  display: flex;
  overflow: scroll;
  width: 54.5vw;
  padding: 0 25px;
}
.options div {
  margin: 0 .5vw 0 0;
}
.cover {
  flex: 1 1 25%;
}
.options img{
  border-top:solid silver 2px;
  border-right:solid silver 3px;
  border-bottom:solid silver 5px;
  border-left:solid silver 1px;
  
  
}
.options img:active{border-right:solid silver 1px;
border-bottom:solid silver 1px;

}